<div class="background">
  <!-- Dropdown for selecting form type -->
  <div class="form-select">
    <mat-form-field>
      <mat-label>Form Type</mat-label>
      <mat-select (selectionChange)="onFormTypeChange($event)">
        <mat-option>Select Form Type</mat-option>
        <mat-option value="financialAid">Financial Aid Student</mat-option>
        <mat-option value="cash">Cash Student</mat-option>
        <mat-option value="va">VA Student</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="form">
    <mat-card class="currentForm">
      <mat-card-title class="formTitle">{{ getFormTitle(formType) }}</mat-card-title>
      <mat-card-content class="formContent">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Dynamically generated form groups -->
          @for (fieldName of formFieldGroups; track fieldName)
          {
            <span class="formTitle">{{fieldName}}</span>
            @for (field of getFormFields(getFormGroupWithName(fieldName)); track field)
            {
              <mat-grid-list class="gridList" cols="4" rowHeight="4:1">
                <div [formGroupName]=field>
                  <mat-grid-tile class="formTile" [colspan]="2">
                    <span>{{ getFieldName(field) }}</span>
                  </mat-grid-tile>
                  <!-- Radio buttons for Yes, No, N/A -->
                  <mat-grid-tile [colspan]="2">
                  <mat-radio-group appearance="fill" aria-label="File Uploaded" formControlName="yesNoNa">
                      @for (option of radioOptions; track option)
                      {
                          <mat-radio-button class="form-radio-button" color="primary" value="{{option}}">
                            {{option}}
                          </mat-radio-button>
                      }
                  </mat-radio-group>
                  </mat-grid-tile>
                </div>
              </mat-grid-list>
            }
          }
          <mat-card-actions class="buttons">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
            <div class="spacer"></div>
            <button mat-raised-button color="primary" type="button" (click)="onReset()">Reset</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>